<div class="wrapper">
    <div class="inner">
        <h4 class="menu-title">МЕНЮ:</h4>
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <button class="accordion-button dropdown-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseOne">
                    Подать новую заявку
                </button>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingOne">
                    <ul class="menu-list">
                        <li class="menu-list__item">
                            <a routerLink="order/oil" class="menu-list__button" >Для масла</a>
                        </li>
                        <li class="menu-list__item">
                            <a routerLink="order-smazka" class="menu-list__button">Для смазки</a>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <button class="accordion-button dropdown-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseSecond">
                    Заявки
                </button>
                <div id="panelsStayOpen-collapseSecond" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingOne">
                    <ul class="menu-list">
                        <li class="menu-list__item">
                            <button class="menu-list__button">На обработке</button>
                        </li>
                        <li class="menu-list__item">
                            <button class="menu-list__button">Обработанные</button>
                        </li>
                        <li class="menu-list__item">
                            <button class="menu-list__button">Закрытые (архив)</button>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
        
    </div>
</div>